---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import TickerStrip from '../components/TickerStrip.astro';
import ProcessBlock from '../components/ProcessBlock.astro';
import StatsBlock from '../components/StatsBlock.astro';
import GrowthSection from '../components/GrowthSection.astro';
import AboutSection from '../components/AboutSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import PartnersSection from '../components/PartnersSection.astro';
import FaqSection from '../components/FaqSection.astro';
import ContactSection from '../components/ContactSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <TickerStrip />
    <ProcessBlock />
    <StatsBlock />
    <GrowthSection />
    <AboutSection />
    <ServicesSection />
    <PartnersSection />
    <FaqSection />
    <ContactSection />
  </main>
  <Footer />
</Layout>
